/* File: MyApp/src/app/home/home.component.css */

/* Hide horizontal scrollbar but keep scrolling enabled */
::-webkit-scrollbar {
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.125rem;
}
