@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* optional fancy spinner class in .loader */
.loader {
  border-radius: 9999px;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}
